h1{
            color: aqua;
        }

        h3 {
            color: rgb(29, 112, 84);
        }

        #p1 {
            text-align: justify;
            text-indent: 20pt;
            color: rgb(9, 48, 82);
        }

        .p2 {
            text-align: justify;
            text-indent: 10pt;
            color: rgb(96, 155, 206);
        }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #95cfff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #92e5e4;
}